@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  /* font-family: 'raj'; */
  font-size: 17px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "raj"; */
}

@layer components {
  a {
    text-decoration: none;
    color: inherit;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .btn-outline {
    @apply py-1 px-3 md:py-2 md:px-5 border border-solid border-blue-light hover:border-blue transition-all rounded-md;
  }
  .title {
    @apply flex-center text-4xl mt-1 mb-5 whitespace-nowrap;
  }
  .lines {
    @apply before:w-20 md:before:w-24 before:h-[1px] before:bg-blue-light before:top-0 before:left-0 before:mr-3 after:w-20 md:after:w-24 after:h-[1px] after:bg-blue-light after:top-0 after:right-0 after:ml-3;
  }
}

@media screen and (max-width: 660px) {
  * {
    font-size: 13px;
  }
}
